<!DOCTYPE html>
<html>
<head>
    <title>Cadastrado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <h1>Aluno Cadastrado!</h1>
    <p>Este template é só uma demontração para você verificar que após clicarmos no botão do formulário, nosso back-end foi acionado na rota /cadastrar com o método POST, e os dados do formulário foram recuperados.</p>
    <p>O aluno {nome} informou o CEP {{ cep }}, que fica em {{ cidade }}, na {{ rua }} nº {{ numero }}</p>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>